<ion-header>
  <ion-toolbar>
    <ion-title>Datos Consumidos desde la API</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let item of (results | async)">
      <ion-label text-wrap>
        <h3>{{ item.id }} - {{ item.name }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
